#aval{
  min-height: calc(100vh - 91px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: -3rem;
}

#imagem_chefe{
  width: 500px;
  height: auto;
}

#aval .section-subtitulo{
  font-size: 3rem;
}

#aval_conteudo{
  width: 50%;
}

#feedbacks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.feedback-alien{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.imagem-cliente{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  padding-right: 5px;
}

.feedback{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-neutral-0);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.nome-cliente{
  font-weight: bolder;
}

.feedback-conteudo p{
  display: flex;
  justify-content: space-between;
}

.feedback-conteudo p span{
  color: var(--color-primary-6);
}

@media sreen and (max-width: 1170px){
  #aval{
    flex-direction: column;
  }

  #aval .section-subtitulo{
    text-align: center;
    font-size: 2.5;
  }
  
  #imagem_chefe{
    display: none;
  }

  #aval_conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media screen and (max-width: 600px) {
  #aval .section-subtitle {
    font-size: 2rem;
  }

  #aval_conteudo {
    width: 100%;
  }

  .feedback{
    flex-direction: column;
  }
} 