header{
  width: 100%;
  padding: 28px 8%;
  background-color: var(--color-primary-1);
/*   position: sticky; 
  top: 0; 
  z-index: 3;  */
}

#conteudo-cabecalho{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo{
  font-size: 24px;
  color: var(--color-primary-6);
}

#nav_list{
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item li{
  color: #1d1d1dad;
  font-weight: 600;
}

.nav-item.active li{
  color: var(--color-neutral-1);
  border-bottom: 3px solid var(--color-primary-4);
}


#btn_mobile{
  display: none;
}

#mobile_menu{
  display: none;
}

/* Versão mobile */
@media screen and (max-width: 1170px){
  #nav_list,
  #conteudo-cabecalho .btn-default{
    display: none;
  }

  #btn_mobile{
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  #mobile_menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
}

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  } 

  .nav-item li:hover{
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
  }
  
}