#menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#cardapio{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.pratos{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 18px;
  width: 25%;
  padding: 20px;
  background-color: var(--color-neutral-0);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.prato-coracao{
  position: absolute;
  background-color: var(--color-primary-6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.563rem;
  color: var(--color-primary-1);
  width: 70px;
  height: 70px;
  right: -10px;
  top: -10px;
  border-radius: 0px 37.5px 0px 42.5px;
}

.tamanho-imagem{
  width: 180px;
  height: 150px;
}

.prato-titulo{
  color: #434343;
  text-align: center;
}

.prato-star i{
  color: var(--color-primary-6);
}

.prato-preco{
  display: flex;
  align-items: center;
  gap: 20px;
}