.cardapio-icons{
  display: flex;
  justify-content: start;
  gap: 20px;
}

.icon-menu-cardapio i {
  color: #1d1d1dad;
}

.icon-pesq-cardapio i {
  color: #1d1d1dad;
}

.input-cardapio{
  align-items: center;
  font-weight: 500;
  background-color: var(--color-primary-2);
  margin-left: 0.3rem;
  border: none;
  outline: none;
  font-size: 12px;
  color: var(--color-neutral-2);
}