.color-padrao{
  color: black;
}
.conteudo-cardapio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-titulo{
  font-size: 1.5rem;
  color: var(--color-primary-6);
}

.section-subtitulo{
  font-size: 2rem;
  color: var(--color-primary-0);
  text-align: center;
  position: absolute;
  margin-top: -4rem;
  padding-top: 5px;
}

.section-opcao{
  font-size: 2rem;
  color: var(--color-primary-0);
}

.conteudo-verMais{
  display: flex;
  justify-content: flex-end;
  margin-left: 50%;
 }
 
 .button-verMais{
   margin-top: -3.5rem;
   font-weight: 800;
   font-size: 25px;
   color: var(--color-primary-6);
   cursor: pointer;
  }
 
 .button-verMais:hover{
  color: var(--color-primary-5);
  transition: color .3s ease;

 }

#menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

#cardapio{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
  padding: 2rem;
  
 
  flex-direction: column; /* As categorias ficarão uma abaixo da outra */
  gap: 20px; /* Espaço entre as categorias */
  
}
#cardapio a{
  background-color: var(--color-neutral-0);
}

.categoria-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* A categoria ocupa toda a largura disponível */
  margin-bottom: 50px;
  align-items: center;
}

.itens-container {
  display: flex;

  gap: 15px; /* Espaço entre os itens */
  padding: 3rem;
  justify-content: center;
}

.pratos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  gap: 18px;
  width: 22%;
  padding: 20px;
  background-color: var(--color-neutral-0);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.pratos img{
  border-radius: 20px;
}

.prato-coracao{
  position: absolute;
  background-color: var(--color-primary-6);
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.563rem;
  color: var(--color-primary-1);
  width: 70px;
  height: 70px;
  right: -10px;
  top: -10px;
  border-radius: 0px 37.5px 0px 42.5px;
}

.tamanho-imagem{
  width: 180px;
  height: 150px;
}

.prato-titulo{
  color: #434343; 
  text-align: center;
}

.prato-star i{
  color: var(--color-primary-6);
}

.prato-descricao{
  text-align: center;
  color: black;
}
.prato-preco{
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1170px) {
  .section-subtitulo{
    font-size: 1.5rem;
  }
  
  #cardapio{
    flex-wrap: wrap;
    justify-content: center;
  }

  .pratos{
    width: calc(50% - 12px);
  }

  .prato-descricao{
    text-align: center;
  }

  .button-verMais{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .section-subtitulo,
  .prato-descricao{
    font-size: 1.3rem;
    text-align: center;
  }

  .pratos{
    width: 100%;
  }

} 

@media screen and (max-width: 600px) {
  #footer_items {
      flex-direction: column;
      gap: 20px;
  }
}

.carousel-nav {
  position: absolute;
  top: 110%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.carousel-prev {
  left: 10px; /* Aproxima a seta da esquerda ao conteúdo */
}

.carousel-next {
  right: 10px; /* Aproxima a seta da direita ao conteúdo */
}

.pratos {
  flex: 1 0 calc(25% - 10px); /* Cada item ocupa 25% do espaço visível, ou seja, 4 itens por vez */
  margin: 0 10px;
}

.itens-container {
  transition: transform 0.5s ease;
}