footer {
  background-color: var(--color-primary-2);
}

#footer_items {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-items: center;
}

#copyright {
  color: var(--color-neutral-1);;
  font-weight: 500;
}

.tagNome:hover{
  color: rgb(61, 52, 52);
}

.midia-social-buttons {
  display: flex;
  gap: 18px;
}

.midia-social-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: var(--color-neutral-0);
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-neutral-1);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow .3s ease;
}

.midia-social-buttons a:hover{
  box-shadow: 0px 0px 10px 4px rgba(23, 22, 22, 0.2);
}

