header{
  width: 100%;
  padding: 28px 8%;
  background-color: var(--color-primary-1);
}

#conteudo_cabecalho{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo{
  font-size: 24px;
  color: var(--color-primary-6);
}

#nav_list{
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item li{
  color: #1d1d1dad;
  font-weight: 600;
}

.buttons-mobile{
  display: none;
}

#mobile_menu{
  display: none;
}

/* Versão mobile */
@media screen and (max-width: 1170px){
  #nav_list,
  #conteudo_cabecalho .btn-default{
    display: none;
  }

  .buttons-mobile{
    display: flex;
    justify-content: end;
    gap: 10px;
  }

  .conteudo-button-pesq{
    display: flex;
    background-color: var(--color-primary-2);
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 25px;
    transition: 0.5s;
   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }

  .conteudo-button-pesq.ativar{
    width: 200px;
  }

  .btn_mobile_pesq{
    font-size: 1rem;
    cursor: pointer;
  }
 
  .conteudo-input input{
    background-color: var(--color-primary-2);
    margin-left: 0.3rem;
    border: none;
    outline: none;
    font-size: 12px;
   
  }

  .button_fechar,
  .btn_mobile_pesq{
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
  }

  .button_fechar i{
    font-size: 0.7rem;
    margin-left: 0.3rem;
  } 

  
  #btn_mobile{
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
  }

  #mobile_menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }
  
  .nav-item li:hover{
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
  }
}

@media screen and (max-width: 470px){
  #nav_logo{
    font-size: 15px;
  }

  .conteudo-button-pesq.ativar{
    width: 110px;
  }

  .conteudo-button-pesq{
    overflow: none;
  }

  .button_fechar i{
    font-size: 0.7rem;
    margin-left: -5rem;
  } 

} 