header{
  width: 100%;
  padding: 28px 8%;
  background-color: var(--color-primary-1);
}

#conteudo_cabecalho{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo{
  font-size: 24px;
  color: var(--color-primary-6);
}

#nav_list{
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item li{
  color: #1d1d1dad;
  font-weight: 600;
}

#btn_mobile{
  display: none;
}

#mobile_menu{
  display: none;
}

/* Versão mobile */
@media screen and (max-width: 1170px){
  #nav_list,
  #conteudo_cabecalho .btn-default{
    display: none;
  }

  #btn_mobile{
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile-menu.active{
    display: flex;
    flex-direction: column;
  }

}