.conteudo-info{
  text-align: center;
}

.imagem-logo{
  width: 150px;
  border-radius: 100%;
}

.conteudo-escrito{
  color: var(--color-neutral-1);
  font-weight: bolder;
  margin-top: 10px;
}

.localizacao{
  margin-top: 5px;
  color: var(--color-neutral-1);
}

.localizacao i {
  color: #808080;
}

.hora-funcionamento{
  margin-top: 5px;
  color: var(--color-primary-5);
}

.button-ver-mais{
  margin-top: 10px;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-5);
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color .3s ease;
}

.button-ver-mais:hover {
  background-color: var(--color-primary-3);
}


.conteudo-button-info{
  display: none;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  margin: auto;

  
  margin-top: -20rem;
  z-index: 0;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

#conteudo-button-info.slideUp{
  display: block;
  transform: translateY(100%);
  animation: slideUp .7s forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(100%);
  }
}

#conteudo-button-info.slideDown{
  transform: translateY(0);
  animation: slideDown 0.5s forwards;
}
.btn-fechar{
  display: flex;
  justify-content: end;
  padding: 10px;
}

.btn-icon{
  border: none;
  background-color: white;
  font-size: 15px;
}

.btn-icon:hover{
  color: #808080;
  transition: .3s;
}

.detalhes{
  margin-top: 20px;
}
