.conteudo-info{
  text-align: center;
  position: relative;
  background-color: black;
}

.imagem-logo{
  width: 150px;
  border-radius: 100%;
}

.conteudo-escrito{
  color: var(--color-neutral-1);
  font-weight: bolder;
}

.localizacao{
  margin-top: 5px;
  color: var(--color-neutral-1);
}

.localizacao i {
  color: #808080;
}

.hora-funcionamento{
  color: var(--color-primary-5);
  margin-top: -20px;
}

.hora-funcionamento2{
  color: var(--color-primary-5);
 
}
.button-ver-mais{
  margin-top: 15px;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-5);
  color: var(--color-neutral-1);
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color .3s ease;
}

.button-ver-mais:hover {
  background-color: var(--color-primary-3);
}

.conteudo-button-info{
  display: none;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -12rem;
  transform: translate(-50%, -50%);

  animation: slideUp .7s forwards;  
  
  overflow: auto;
  max-height: 80vh;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

#conteudo-button-info.slideUp{
  display: block;
  transform: translateY(100%);
}

@keyframes slideDown {
  to {
    transform: translateY(100%);
  }
}

#conteudo-button-info.slideDown{
  transform: translateY(0);
  animation: slideDown 0.5s forwards;
}
.btn-fechar{
  display: flex;
  justify-content: end;
  padding: 10px;
}

.btn-icon{
  border: none;
  background-color: white;
  color: var(--color-neutral-1);
  font-size: 15px;
}

.btn-icon:hover{
  color: #808080;
  transition: .3s;
}

.detalhes{
  margin-top: 20px;
}

/* Estilização da barra de rolagem */
.conteudo-button-info::-webkit-scrollbar {
  width: 5px; 
}

.conteudo-button-info::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.conteudo-button-info::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.conteudo-button-info::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

/* Versão mobile */
@media screen and (max-width: 450px){
  .conteudo-button-info{
    max-width: 300px;
    margin-left: -9.3rem;
  }
}